.wp-tab-bar {
	margin-bottom: 4px;
}

.fm-tab-bar .fm-tab {
	border: 1px solid #dfdfdf;
	border-bottom: none;
	padding: 8px 10px;
	border-radius: 3px 3px 0 0;
	background: #f1f1f1;
	margin: 3px 0 0 5px;
	display: inline-block;
}

.fm-tab-bar .fm-tab:hover {
	background: #fff;
}

.fm-tab-bar {
	padding: 20px 5px 0 10px;
	margin-bottom: 0;
}

.fm-tab-bar,
.wp-tabs-panel {
	margin-right: -12px;
	margin-left: -12px;
}

.fm-tab-bar .fm-tab a {
	color: #777;
	font-weight: bold;
}

.fm-tab-bar .fm-tab a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fm-tab-bar .wp-tab-active {
	background: #fff;
}

.fm-tab-bar .wp-tab-active a {
	color: #444;
}

.fm-wrapper div.fm-submenu {
	background-color: transparent;
	display: none;
	position: absolute;
	top: -9px;
	left: 146px;
	z-index: 999;
	overflow: hidden;
	list-style: none;
	padding: 0px 5px 5px 0px;
}

.fm-wrapper .fm-submenu, .fm-wrapper .fm-submenu-wrap {
	width: 145px;
}

.fm-wrapper .fm-submenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.fm-wrapper .fm-submenu li {
	cursor: pointer;
	display: block;
	padding: 2px 5px;
	margin: 2px 0px;
}

.fm-wrapper li .fm-submenu-wrap {
	border-width: 1px 1px 1px 0;
	border-style: solid solid solid none;
	position: relative;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.fm-wrapper .fm-submenu-wrap {
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.fm-wrapper .fm-submenu-wrap, .fm-wrapper .fm-submenu ul {
	border-color: #dfdfdf;
}

.fm-wrapper .fm-submenu ul {
	background-color: #fff;
	padding: 4px 0;
}

.fm-wrapper div.fm-submenu.sub-open {
	display: block;
	padding: 0 8px 8px 0;
}

.fm-wrapper .fm-submenu li:hover, .fm-wrapper .fm-submenu li:focus {
	background-color: #EAF2FA;
}

.fm-wrapper .fm-submenu li:hover > a, .fm-wrapper .fm-submenu li:focus > a {
	color: #333;
}

.fm-wrapper .wp-tabs-panel > .fm-wrapper > .fm-item {
	border-top: none;
}

.fm-wrapper .wp-tabs-panel > .fm-wrapper .fm-group-inner {
	border-top: solid 1px #dfdfdf;
	border-right: none;
	border-bottom: none;
	border-left: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Vertical Tabs */
.fm-tabbed-vertical:before,
.fm-tabbed-vertical:after {
  content: " ";
  display: table;
}
.fm-tabbed-vertical:after {
  clear: both;
}
.fm-tabbed-vertical .fm-tab-bar {
	margin: 0;
	padding: 0;
}
.fm-tabbed-vertical .fm-tab-bar li {
	display: inline-block;
	border: none;
	padding: 0;
	margin: 5px 5px 0 0;
}
.fm-tabbed-vertical .fm-tab-bar li a {
	display: block;
	outline: none;
	padding: 12px 14px;
	color: #999;
	font-weight: bold;
	border-right: 1px solid #dfdfdf;
	background-color: #f0f0f0;
}
.fm-tabbed-vertical .fm-tab-bar li:last-child a {
	border-bottom: none;
}
.fm-tabbed-vertical .fm-tab-bar li a:hover {
	background: #f9f9f9;
}
.fm-tabbed-vertical .fm-tab-bar .wp-tab-active a,
.fm-tabbed-vertical .fm-tab-bar .wp-tab-active a:hover {
	background: #fff;
	border-right-color: #fff;
	color: #444;
}
.fm-tabbed-vertical .wp-tabs-panel {
	overflow: auto;
}
.fm-tabbed-vertical .wp-tabs-panel .fm-group {
	border: none;
	background: none;
}
.fm-tabbed-vertical .wp-tabs-panel .fm-group .fm-group {
	border: 1px solid #ddd;
}
.fm-tabbed-vertical > .wp-tabs-panel > div > .fm-group {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.fm-tabbed-vertical > .wp-tabs-panel > div > .fm-group > .fm-group-inner {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media screen and (min-width: 575px) {

	.fm-tabbed-vertical .fm-tab-bar {
		width: 175px;
		float: left;
		margin: 0 0 0 1px;
		-moz-box-shadow: 0 1px 0px #dfdfdf;
		-webkit-box-shadow: 0 1px 0px #dfdfdf;
		box-shadow: 0 1px 0px #dfdfdf;
	}

	.fm-tabbed-vertical .fm-tab-bar li {
		display: block;
		margin: 0;
	}

	.fm-tabbed-vertical .fm-tab-bar li a {
		border-bottom: 1px solid #dfdfdf;
	}

	.fm-tabbed-vertical .wp-tabs-panel {
		margin-left: 185px;
		padding: 10px;
	}
}
