.wp-tab-bar {
	margin-bottom: 4px;
}

.fm-tab-bar .fm-tab {
	border: 1px solid transparent;
	border-bottom: none;
}
.fm-tab-bar .fm-tab a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fm-tab-bar .wp-tab-active {
	background: #fff;
	border-color: #dfdfdf;
}

.fm-wrapper div.fm-submenu {
	background-color: transparent;
	display: none;
	position: absolute;
	top: -9px;
	left: 146px;
	z-index: 999;
	overflow: hidden;
	list-style: none;
	padding: 0px 5px 5px 0px;
}

.fm-wrapper .fm-submenu, .fm-wrapper .fm-submenu-wrap {
	width: 145px;
}

.fm-wrapper .fm-submenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.fm-wrapper .fm-submenu li {
	cursor: pointer;
	display: block;
	padding: 2px 5px;
	margin: 2px 0px;
}

.fm-wrapper li .fm-submenu-wrap {
	border-width: 1px 1px 1px 0;
	border-style: solid solid solid none;
	position: relative;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.fm-wrapper .fm-submenu-wrap {
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.fm-wrapper .fm-submenu-wrap, .fm-wrapper .fm-submenu ul {
	border-color: #dfdfdf;
}

.fm-wrapper .fm-submenu ul {
	background-color: #fff;
	padding: 4px 0;
}

.fm-wrapper div.fm-submenu.sub-open {
	display: block;
	padding: 0 8px 8px 0;
}

.fm-wrapper .fm-submenu li:hover, .fm-wrapper .fm-submenu li:focus {
	background-color: #EAF2FA;
}

.fm-wrapper .fm-submenu li:hover > a, .fm-wrapper .fm-submenu li:focus > a {
	color: #333;
}

.fm-wrapper .wp-tabs-panel > .fm-wrapper > .fm-item {
	border-top: none;
}

.fm-wrapper .wp-tabs-panel > .fm-wrapper .fm-group-inner {
	border-top: solid 1px #dfdfdf;
}

/* Vertical Tabs */
.fm-tabbed-vertical {
	margin: -6px -12px -12px;
	background: url(../images/vertical-tab-bg.png) 0 0 repeat-y;
}
.fm-tabbed-vertical:before,
.fm-tabbed-vertical:after {
  content: " ";
  display: table;
}
.fm-tabbed-vertical:after {
  clear: both;
}
.fm-tabbed-vertical .fm-tab-bar {
	width: 175px;
	float: left;
	margin: 0;
	-moz-box-shadow: 0 1px 0px #dfdfdf;
	-webkit-box-shadow: 0 1px 0px #dfdfdf;
	box-shadow: 0 1px 0px #dfdfdf;
}
.fm-tabbed-vertical .fm-tab-bar li {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
}
.fm-tabbed-vertical .fm-tab-bar li a {
	display: block;
	outline: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 7px 14px;
	color: #999;
	text-shadow: #fff -1px -1px 1px;
	font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	background-color: #f0f0f0;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ececec));
	background-image: -moz-linear-gradient(#f6f6f6, #ececec);
	background-image: -webkit-linear-gradient(#f6f6f6, #ececec);
	background-image: linear-gradient(#f6f6f6, #ececec);
}
.fm-tabbed-vertical .fm-tab-bar li:last-child a {
	border-bottom: none;
}
.fm-tabbed-vertical .fm-tab-bar li a:hover {
	background: #f9f9f9;
}
.fm-tabbed-vertical .fm-tab-bar .wp-tab-active a,
.fm-tabbed-vertical .fm-tab-bar .wp-tab-active a:hover {
	background: #fff;
	border-right-color: #fff;
}
.fm-tabbed-vertical .wp-tabs-panel {
	margin-left: 185px;
	padding: 10px;
	overflow: auto;
}
.fm-tabbed-vertical .wp-tabs-panel .fm-group {
	border: none;
	background: none;
}
.fm-tabbed-vertical .wp-tabs-panel .fm-group .fm-group {
	border: 1px solid #ddd;
	background: #ededed;
}
.fm-tabbed-vertical > .wp-tabs-panel > div > .fm-group {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.fm-tabbed-vertical > .wp-tabs-panel > div > .fm-group > .fm-group-inner {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
