tests/php/build
tests/php/wp-unit-test

# Silly Macs
.DS_Store

# For those using Git in their SVN
# ignore files in the WPcom plugin directory
wpcom-helper.php
VERSION
tests/php/tests
todo.txt

# Created by Apigen for logs
/build

/docs

/report/

.svn

composer.lock
/vendor/
/node_modules
