sudo: false

language: php

matrix:
  include:
    - php: 5.3
      env: WP_VERSION=4.4.4
    - php: 5.3
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=latest
    - php: 7.0
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=nightly
    - php: 5.6
      env: WP_TRAVISCI=phpcs
  fast_finish: true

branches:
  only:
    - master

before_script:
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
      npm install
      export PATH="$HOME/.composer/vendor/bin:$PATH"
      if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
        composer global require "phpunit/phpunit=5.7.*"
      else
        composer global require "phpunit/phpunit=4.8.*"
      fi
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      npm install
      composer install
    fi

script:
  - find . -path ./vendor -prune -o -type "f" -iname "*.php" | xargs -L "1" php -l
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      phpunit
    fi
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      phpunit -c multisite.xml
    fi
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      grunt qunit:specific --wp=$WP_VERSION
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      grunt phpcs
    fi
