sudo: false

language: php

matrix:
  include:
    - php: 5.3
      env: WP_VERSION=4.3.3
    - php: 5.3
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=latest
    - php: 7.0
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=nightly
    - php: 5.6
      env: WP_TRAVISCI=phpcs
  fast_finish: true

branches:
  only:
    - master

before_script:
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
      npm install
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      npm install
      composer install
    fi

script:
  - find . -path ./vendor -prune -o -type "f" -iname "*.php" | xargs -L "1" php -l
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      phpunit
      phpunit -c multisite.xml
      grunt qunit:specific --wp=$WP_VERSION
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      grunt phpcs
    fi
